


/* SKELETON */

body {
  background-color: #29283B;
  color:white;
  font-family: 'Karla', sans-serif;  
}



/* SIDE BAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 35rem;
  background-color: 29283B;
  padding-top: 20px;
}

.side-container {
  padding: 20% 15%;
  text-align: right;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36pt;
}

.headline {
  padding-top: 25px;
}

.description {
  font-weight: 200;
  font-size: 13pt;
  padding-top: 15px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  font-size: 14pt;
}

a:hover {
  color: #c3acd1;
  text-decoration: none;
}

.socials {
  padding: 0 10px;
}

/* MAIN */

.main {
  margin-left: 35rem;
}

.main-section {
  padding: 7% 5%;
}


/* CARDS */

.card {
  margin: 50px 0;
  flex-direction: row;
  background-color: ghostwhite;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-body {
  padding: 8%;
  color:#0e0d10;
}

.card-title {
  font-weight: bold;
}

.card-img {
  min-height: 101%;
  max-width: 12em;
  object-fit: cover;
  border-bottom-right-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: -1px;
}

.card-btn {
  font-size: 13px;
  color: #29283B;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #29283B;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.card-btn:hover {
  color: #FFF;
  background: #29283B;
  border: 2px solid #29283B;
}

/* CONTACT */

.credits {
  font-size: 8pt;
}


/* MEDIA */




@media (max-width: 1200px){

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-img {
    min-height: none;
    max-height: 12em;
    min-width: 101%;
    max-width: none;
    object-fit: cover;
    object-position: center;
    border-bottom-right-radius: 39px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 39px;
    border-top-left-radius: 0;
  }
}

@media (max-width: 991px) {
  
  .sidebar {
    position: static;
    width: 100%;

  }

  .side-container {
    padding: 7% 10%;
    text-align: left;
  }

  .main {
    margin-left: 0;
  }

  .main-section {
    padding: 7% 10%;

  }

}

@media (max-width:668px) {

  .title {
    font-size: 30pt;
  }
  .headline {
    font-size: 18px;
  }
  .description {
    font-size: 14pt;
  }

  .card-title {
    font-size:medium;
  }

  .card-body {
    font-size: small;
  }


}

